<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loser.backend.club.ambermapper.ConfigClubCompareMapper">
  <resultMap id="BaseResultMap" type="com.loser.backend.club.domain.ConfigClubCompare">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="club_level" jdbcType="INTEGER" property="clubLevel" />
    <result column="club_level_cp" jdbcType="INTEGER" property="clubLevelCp" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="gift_type" jdbcType="VARCHAR" property="giftType" />
    <result column="is_effect" jdbcType="INTEGER" property="isEffect" />
  </resultMap>
</mapper>