<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loser.backend.club.ambermapper.ConfigClubBaseMapper">
  <resultMap id="BaseResultMap" type="com.loser.backend.club.domain.ConfigClubBase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="club_level" jdbcType="INTEGER" property="clubLevel" />
    <result column="gift_id" jdbcType="BIGINT" property="giftId" />
    <result column="gift_type" jdbcType="VARCHAR" property="giftType" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="standard_rate" jdbcType="NUMERIC" property="standardRate" />
    <result column="exclusive_rate" jdbcType="NUMERIC" property="exclusiveRate" />
    <result column="sort_update_time" jdbcType="TIMESTAMP" property="sortUpdateTime" />
    <result column="is_effect" jdbcType="INTEGER" property="isEffect" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
</mapper>